* {
  margin: 0;
  padding: 0;
  box-sizing: 2px;
}
body {
  font-size: 5rem;
  display: grid;
  place-content: center;
  min-height: 5rem;
}

.btn1,
.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.inc,
.dec {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 button {
  padding: 0.6rem 1.2 rem;
}
